.input {
  background-image: linear-gradient(to bottom, blue, rgb(93, 252, 255));
  align-items: center;
}

.input form {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input form input {
  border: none;
  width: 100%;
}

.input form button {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 0.5rem;
  padding: 0 1rem;
  font-weight: 500;
  background-color: rgb(250, 222, 60);
}

.input form button:hover {
  background: rgb(0, 251, 255);
  border: 1px solid white;
}

.card .text {
  flex: 2;
}

.btn-action {
  flex: 0.8;
  gap: 1rem;
}

.btn-edit {
  border: none;
  background-color: white;
  margin: 0;
}

.btn-edit:hover {
  color: rgb(50, 152, 255);
  margin: 0;
  border-radius: 5px;
}

.btn-delete {
  border: none;
  background-color: white;
  margin: 0;
}

.btn-delete:hover {
  /* background-color: rgb(255, 245, 50); */
  margin: 0;
  border-radius: 5px;
  color: red;
}

.btn-delete svg,
.btn-edit svg {
  font-size: 1.5rem;
}
