.input {
  background-image: linear-gradient(to bottom, blue, rgb(93, 252, 255));
  align-items: center;
}

.input .form {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input .form input {
  border: none;
  width: 100%;
}
